

    @Model.ID
    @Model.Name
    @Model.Age
    @Model.Address
      <img src= "/Images/@Model.Image" style="width:100px;height:100px">
      <br />
       <a href ="http://localhost:29381/Student/Index"> go to back</a>

